In [2]:
3.14 * 10 * 10

314.0

In [4]:
3.14 * 10**2

314.0

In [5]:
import math

In [6]:
math.sin(40)

0.7451131604793488

In [8]:
"안녕하세요"

'안녕하세요'

In [10]:
'안녕하세요'

'안녕하세요'

In [12]:
print("결과값은", 10, "입니다.")

결과값은 10 입니다.

In [14]:
"나의" + "고양이"

'나의고양이'

In [16]:
"hello" * 10

'hellohellohellohellohellohellohellohellohellohello'

In [19]:
print("2+3=", 2+3)

2+3= 5

In [21]:
x= 10000
y= 20000

In [23]:
print(x)

10000

In [25]:
radius=10
area=3.14*radius*radius
print("반지름", radius, "인 원의 면적=", area)

반지름 10 인 원의 면적= 314.0

In [27]:
type(radius)

int

In [28]:
type(12.30)

float

In [29]:
print(type(12.30))

<class 'float'>

In [30]:
x= 1000
print("초깃값x=", x)
x+=2
print("x+=2 후의 x=", x)
x-=2
print("x-=2 후의 x=", x)

초깃값x= 1000
x+=2 후의 x= 1002
x-=2 후의 x= 1000

In [34]:
x=3.14
y=str(x)
print(y)
print(type(y))

3.14
<class 'str'>

In [35]:
a="""문단으로 저장하기
안녕하세요.
박건주입니다."""
print(a)

문단으로 저장하기
안녕하세요.
박건주입니다.

In [36]:
b='''문단으로 저장하기
안녕하세요.
박건주입니다.'''
print(b)

문단으로 저장하기
안녕하세요.
박건주입니다.

In [38]:
print("말 한마디로\n천냥빚을 갚는다.")

말 한마디로
천냥빚을 갚는다.

In [39]:
print("말 한마디로\t천냥빚을 갚는다.")

말 한마디로	천냥빚을 갚는다.

In [40]:
print("말 한마디로\\천냥빚을 갚는다.")

말 한마디로\천냥빚을 갚는다.

In [41]:
print("말 한마디로\"천냥빚\"을 갚는다.")

말 한마디로"천냥빚"을 갚는다.

In [42]:
print("말 한마디로\'천냥빚\'을 갚는다.")

말 한마디로'천냥빚'을 갚는다.

In [47]:
s="Hello World"
print(s[0])
print(s[6])

#인버스 인덱싱으로 뒷 자리부터 가져올 수 있음
print(s[-1])

#슬라이싱 기법: 0 ~ 2 전 까지 가져오기
print(s[0:2])

H
W
d
He

In [50]:
#소문자로 만들기, 문자열 바꾸기
name="Harry Parter"
lower_name=name.lower()
print(lower_name)

new_name=name.replace("Parter", "Porter")
print(new_name)

harry parter
Harry Porter

In [52]:
#input()함수
name=input("이름을 입력하시오:")
print(name)

이름을 입력하시오:박박
박박

In [54]:
s1 = int(input("첫 번째 정수를 입력하시오"))
s2 = int(input("두 번째 정수를 입력하시오"))
sum = s1 + s2
print(sum)

첫 번째 정수를 입력하시오300
두 번째 정수를 입력하시오400
700

In [56]:
x=100
y=200
print(f"{x}와 {y}의 합 ={x+y}")

100와 200의 합 =300

In [57]:
py=7.1234
print("테스트 출력 %10.2f" %py)

테스트 출력       7.12

In [59]:
a = "안녕하세요"
#특수 슬라이싱
a[0:5:2]

'안하요'

In [60]:
#인버스 인덱싱
a[-2]

'세'

In [61]:
#전체가져오기
a[:]

'안녕하세요'

In [62]:
#특수슬라이싱
a[::2]

'안하요'

In [63]:
a[::-2]

'요하안'

In [64]:
#조건문
price =int(input("상품의 가격:"))

if price> 20000:
  shipping_cost=0
else:
  shipping_cost=3000

print("배송비 = ", shipping_cost)

#들여쓰기는 스페이스바 4번 or 탭 1번

상품의 가격:30000
배송비 =  0

In [66]:
price=30000
exp = price > 20000

print(exp)

if exp:
  shipping_cost = 0
else:
  shipping_cost = 3000

print(shipping_cost)

True
0

In [69]:
# 조건 연산자 max_value = (x if x>y else y)의 경우, 
# if x>y 먼저 구분하고 true면 왼쪽값, false면 오른쪽 값 반환

x=int(input("첫 번째 수="))
y=int(input("두 번째 수="))
max_value = (x if x>y else y)
min_value = (y if x>y else x)
print("큰 수 =", max_value, "작은 수 =", min_value)

첫 번째 수=5
두 번째 수=10
큰 수 = 10 작은 수 = 5

In [72]:
#정수를 입력받아 짝수인지 홀수인지 검사하기

x=int(input("정수를 입력하시오. "))

if(x%2==0):
  print("짝수입니다")
else:
  print("홀수입니다")

정수를 입력하시오. 19
홀수입니다

In [73]:
price = int(input("가격: "))
card = str(input("카드: "))

if(price>20000 and card=="python"):
  print("배송료 무료")

가격: 30000
카드: python
배송료 무료

In [74]:
price = int(input("가격을 입력하시오: "))
card = input("카드 종류를 입력하시오: ")

if price>20000 and card=="python":
  print("배송료가 없습니다.")
else:
  print("배송료는 3000원입니다.")

가격을 입력하시오: 30000
카드 종류를 입력하시오: python
배송료가 없습니다.

In [79]:
#연속 if문(elif문)

num=int(input("정수를 입력하시오:"))

if num > 0:
  print("양수입니다.")
elif num == 0:
  print("0입니다.")
else:
  print("음수입니다.")

정수를 입력하시오:0
0입니다.

In [85]:
#지진의 리히터 규모를 받아서 그 영향을 출력하는 프로그램 작성

num = float(input("리히터 규모를 입력하시오: "))

if num < 2:
  print("지진계에 의해서만 탐지 가능합니다.")
elif num < 4:
  print("물건들이 흔들리거나 떨어집니다.")
elif num < 7:
  print("빈약한 건물에 큰 피해가 있습니다.")
elif num < 8:
  print("지표면에 균열이 발생합니다.")
elif num < 9:
  print("대부분의 구조물이 파괴됩니다.")

#이러면 9이상일 경우 볼수가 없네

리히터 규모를 입력하시오: 2.3
물건들이 흔들리거나 떨어집니다.

In [86]:
for i in[9,8,7,6,5]:
  print("i=", i)

i= 9
i= 8
i= 7
i= 6
i= 5

In [88]:
for i in range(5):
  print("방문을 환영합니다.")

방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.
방문을 환영합니다.

In [89]:
#range(start=0, stop, step=1)
#stop의 마지막 값은 포함되지 않음

for i in range(5):
  print(i)
for i in range(1,6):
  print(i)
for i in range(1,6,2):
  print(i)

0
1
2
3
4
1
2
3
4
5
1
3
5

In [93]:
#5,4,3,2,1로 출력하시오
for i in range(5,0,-1):
  print(i)

5
4
3
2
1

In [95]:
for i in range(1,6,1):
  print(i, end=" ")

1 2 3 4 5

In [96]:
for i in range(10,0,-1):
  print(i, end=" ")

10 9 8 7 6 5 4 3 2 1

In [98]:
TARGET = 2000
money = 1000
year = 0
rate = 0.07

while money < TARGET:
  money = money + money * rate
  year = year +1

print(year,"년")

11 년

In [102]:
x=9
i=1

while i<10:
  print(x, "*", i, "=", x*i)
  i += 1

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [103]:
#중첩 반복문

for i in range(5):
  for j in range(5):
    print("i",i,"j",j)

i 0 j 0
i 0 j 1
i 0 j 2
i 0 j 3
i 0 j 4
i 1 j 0
i 1 j 1
i 1 j 2
i 1 j 3
i 1 j 4
i 2 j 0
i 2 j 1
i 2 j 2
i 2 j 3
i 2 j 4
i 3 j 0
i 3 j 1
i 3 j 2
i 3 j 3
i 3 j 4
i 4 j 0
i 4 j 1
i 4 j 2
i 4 j 3
i 4 j 4

In [105]:
for y in range(5):
  print("*", end="")

*****

In [108]:
for y in range(5):
  for x in range(10):
    print("*", end="")
  print("")

**********
**********
**********
**********
**********

In [109]:
adj = ["small","medium","large"]
nouns = ["apple","banana","grape"]
for x in adj:
  for y in nouns:
    print(x,y)

small apple
small banana
small grape
medium apple
medium banana
medium grape
large apple
large banana
large grape

In [110]:
#continue break와 달리 조건에 맞을 경우,
#뒤의 코드를 무시하고 다시 반복문으로 돌아간다

for i in range(1,11):
  if i%3 == 0:
    continue #3의 배수일 경우 아래로 넘어가지 않고 다시 반복문 처음으로
  print(i,end="")

12457810