In [2]:
#결측치 실습
#SimpleImuter는 결측치를 쉽게 다루도록 도와줌
from sklearn.impute import SimpleImputer
import pandas as pd

#결측치를 median 값으로 채울거다
imputer = SimpleImputer(strategy = "median")

#파일 읽어옴
test_data = pd.read_csv("wine_crack.csv")

#median값이 얼마인지 파악함
imputer.fit(test_data)

#결측치를 median 값으로 바꿔줌(transform)한다
imputerX = imputer.transform(test_data)

In [6]:
pd.DataFrame(imputerX)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,7.4,0.70,0.00,1.90,0.076,11.0,34.0,0.9978,3.510,0.560,9.4,5.0,1.0
1,7.8,0.88,0.00,2.60,0.098,25.0,67.0,0.9968,3.200,0.680,9.8,5.0,1.0
2,7.8,0.76,0.04,2.30,0.092,15.0,54.0,0.9970,3.260,0.650,9.8,5.0,1.0
3,11.2,0.28,0.01,1.95,0.075,17.0,60.0,0.9980,3.160,0.580,9.8,6.0,1.0
4,7.4,0.70,0.01,1.95,0.076,11.0,54.0,0.9970,3.510,0.560,9.4,5.0,1.0
5,7.4,0.66,0.00,1.80,0.075,13.0,40.0,0.9978,3.510,0.560,9.4,5.0,1.0
6,7.9,0.60,0.06,1.60,0.069,15.0,59.0,0.9964,3.355,0.575,9.4,5.0,1.0
7,7.3,0.65,0.00,1.20,0.065,15.0,21.0,0.9946,3.355,0.575,10.0,7.0,1.0
8,7.8,0.58,0.02,2.00,0.073,9.0,18.0,0.9968,3.360,0.570,9.5,7.0,1.0
9,7.5,0.50,0.36,6.10,0.071,17.0,102.0,0.9978,3.350,0.800,10.5,5.0,1.0

In [8]:
#샘플코드
import matplotlib
import matplotlib.pyplot as plt
import numpy as numpy
import sklearn.linear_model

#데이터 적재
wine_data = pd.read_csv('./wine.csv')
print(wine_data)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
6492            6.2              0.21         0.29             1.6      0.039
6493            6.6              0.32         0.36             8.0      0.047
6494            6.5              0.24         0.19             1.2      0.041
6495            5.5              0.29         0.30             1.1      0.022
6496            6.0              0.21         0.38             0.8      0.020

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                    11.0                  34.0  0.99780  3.51       0.56
1                    25.0                  67.0  0.99680  3.20       0.68
2                    15.0                  54.0  0.99700  3.26       0.65
3                    17.0                  60.0  0.99800  3.16       0.58
4                    11.0                  34.0  0.99780  3.51       0.56
...                   ...                   ...      ...   ...        ...
6492                 24.0                  92.0  0.99114  3.27       0.50
6493                 57.0                 168.0  0.99490  3.15       0.46
6494                 30.0                 111.0  0.99254  2.99       0.46
6495                 20.0                 110.0  0.98869  3.34       0.38
6496                 22.0                  98.0  0.98941  3.26       0.32

      alcohol  quality  class
0         9.4        5      1
1         9.8        5      1
2         9.8        5      1
3         9.8        6      1
4         9.4        5      1
...       ...      ...    ...
6492     11.2        6      0
6493      9.6        5      0
6494      9.4        6      0
6495     12.8        7      0
6496     11.8        6      0

[6497 rows x 13 columns]

In [10]:
#데이터 준비 - train 컬럼 선정 및 target(정답값)설정
X = wine_data[["residual sugar", "density"]]
y = wine_data["alcohol"]

print(X)
print(y)

      residual sugar  density
0                1.9  0.99780
1                2.6  0.99680
2                2.3  0.99700
3                1.9  0.99800
4                1.9  0.99780
...              ...      ...
6492             1.6  0.99114
6493             8.0  0.99490
6494             1.2  0.99254
6495             1.1  0.98869
6496             0.8  0.98941

[6497 rows x 2 columns]
0        9.4
1        9.8
2        9.8
3        9.8
4        9.4
        ...
6492    11.2
6493     9.6
6494     9.4
6495    12.8
6496    11.8
Name: alcohol, Length: 6497, dtype: float64

In [12]:
#선형 모델 객체 생성
model = sklearn.linear_model.LinearRegression()

#모델한테 X데이터[residual sugar와 density]를 주고, 정답값 y로 부터 최소제곱법으로 최적의 w를 찾아냄
model.fit(X,y)

#예측
#임의의 residual sugar와 density 넣기
X_new = [[1.8, 0.99490]]
print("예측값:", model.predict(X_new))

예측값: [10.40863934]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [20]:
#리스트 형태로 필요한 데이터 X2에 바인딩
X2 = wine_data[["fixed acidity", "volatile acidity", "citric acid", "residual sugar", "chlorides", "free sulfur dioxide", "total sulfur dioxide", "density"]]
y2 = wine_data["pH"]

print(X2)
print(y2)

      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0               7.4              0.70         0.00             1.9      0.076
1               7.8              0.88         0.00             2.6      0.098
2               7.8              0.76         0.04             2.3      0.092
3              11.2              0.28         0.56             1.9      0.075
4               7.4              0.70         0.00             1.9      0.076
...             ...               ...          ...             ...        ...
6492            6.2              0.21         0.29             1.6      0.039
6493            6.6              0.32         0.36             8.0      0.047
6494            6.5              0.24         0.19             1.2      0.041
6495            5.5              0.29         0.30             1.1      0.022
6496            6.0              0.21         0.38             0.8      0.020

      free sulfur dioxide  total sulfur dioxide  density
0                    11.0                  34.0  0.99780
1                    25.0                  67.0  0.99680
2                    15.0                  54.0  0.99700
3                    17.0                  60.0  0.99800
4                    11.0                  34.0  0.99780
...                   ...                   ...      ...
6492                 24.0                  92.0  0.99114
6493                 57.0                 168.0  0.99490
6494                 30.0                 111.0  0.99254
6495                 20.0                 110.0  0.98869
6496                 22.0                  98.0  0.98941

[6497 rows x 8 columns]
0       3.51
1       3.20
2       3.26
3       3.16
4       3.51
        ...
6492    3.27
6493    3.15
6494    2.99
6495    3.34
6496    3.26
Name: pH, Length: 6497, dtype: float64

In [23]:
#선형 모델 객체 생성
model2 = sklearn.linear_model.LinearRegression()

#모델한테 X2데이터를 주고, 정답값 y로 부터 최소제곱법으로 최적의 w를 찾아냄
model2.fit(X2,y2)

#예측
#임의의 데이터 넣기 -->2개의 리스트를 넣으면 2개의 값으로 반환해줌
X_new = [[7.4, 0.7, 0, 1.9, 0.076, 11, 34, 0.9978], [5.4, 0.3, 0, 1.2, 0.056, 10, 31, 0.9078]]
print("예측값:", model2.predict(X_new))

예측값: [ 3.4650253  -0.10751382]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [25]:
#리스트 형태로 필요한 데이터 X3에 바인딩
X3 = wine_data[["volatile acidity", "citric acid", "residual sugar"]]
y3 = wine_data["pH"]

#선형 모델 객체 생성
model3 = sklearn.linear_model.LinearRegression()

#모델한테 X3데이터를 주고, 정답값 y로 부터 최소제곱법으로 최적의 w를 찾아냄
model3.fit(X3,y3)

#예측
#임의의 데이터 넣기 -->3개의 리스트를 넣으면 3개의 값으로 반환해줌
X_new = [[0.7, 0, 1.9], [0.88, 0, 2.6], [0.76, 0.04, 2.3]]
print("예측값:", model3.predict(X_new))

예측값: [3.37654508 3.39368285 3.36989618]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [27]:
#리스트 형태로 필요한 데이터 X4에 바인딩
X4 = wine_data[["chlorides", "density", "pH", "sulphates"]]
y4 = wine_data["alcohol"]

#선형 모델 객체 생성
model4 = sklearn.linear_model.LinearRegression()

#모델한테 X4데이터를 주고, 정답값 y로 부터 최소제곱법으로 최적의 w를 찾아냄
model4.fit(X4,y4)

#예측
#임의의 데이터 넣기
X_new = [[0.076, 0.9978, 3.51, 0.56]]
#.predict로 예측하기
print("예측값:", model4.predict(X_new))

예측값: [9.81347355]

/usr/local/lib/python3.9/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(