In [1]:
#0부터 99까지의 정수 중에서 2의 배수이고 동시에 3의 배수인 수들을 모아서
#리스트로 만들기

numbers = [x for x in range(100) if x % 2 == 0 and x % 3 == 0]
print(numbers)

[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

In [2]:
#0부터 9까지의 정수 중 짝수면 '짝수'로 홀수면 '홀수'로 리스트에 추가하는 리스트

alist = ['짝수' if i % 2==0 else '홀수' for i in range(10)]
print(alist)

['짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수', '짝수', '홀수']

In [9]:
#2차원 리스트 

s=[
    [1,2,3,4,5],
   [6,7,8,9,10],
   [11,12,13,14,15]
]

print(s)
print(s[1][2]) #리스트에 있는 8을 출력해보기
print(s[1][2:4]) #응용

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]
8
[8, 9]

In [12]:
#2차원 리스트
matrix1 = []

for _ in range(6):
  matrix2 = []
  for i in range(5):
    matrix2.append(i)
  matrix1.append(matrix2)

print(matrix1)

#위랑 똑같은 코드
matrix = [[i for i in range(5)] for _ in range(6)]
print(matrix)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [15]:
matrix = [[0,0,0],[1,1,1],[2,2,2,]]

result = []

for row in matrix:
  for num in row:
    result.append(num)

print(result)

#위랑 똑같은 코드
result2=[num for row in matrix for num in row]
print(result2)

[0, 0, 0, 1, 1, 1, 2, 2, 2]
[0, 0, 0, 1, 1, 1, 2, 2, 2]

In [29]:
matrix = [['하나','둘','셋'],['넷','다섯','여섯'],['일곱','여덟','아홉']]

count = 1
for row in matrix:
  for num in row:
    print(count, num)
    count+=1

1 하나
2 둘
3 셋
4 넷
5 다섯
6 여섯
7 일곱
8 여덟
9 아홉

In [30]:
#enumerate() 사용하기

fruits = ["apple", "banana", "grape"]
print(list(enumerate(fruits)))
for index, value in enumerate(fruits):
  print(index, value)

[(0, 'apple'), (1, 'banana'), (2, 'grape')]
0 apple
1 banana
2 grape

In [31]:
#set()

aList=[1,2,3,4,5,1,2]
result={ x for x in aList if x%2==0 }

print(result) #set는 중복허용이 안되기 때문에 2가 하나만 나옴

{2, 4}

In [34]:
#리스트 공통 수 뽑기

list1=[1,2,3,4,5]
list2=[3,4,5,6,7]
set(list1)&set(list2)

{3, 4, 5}

In [35]:
#리스트 세트 변환

list1=[1,2,3,4,5,1,2,4]
len(set(list1))

5

In [38]:
#딕셔너리 키와 값으로 구성 -> map이랑 비슷하네

capitals={"Korea":"Seoul", "USA":"Washinton", "UK":"London"}
print(capitals)
print(capitals["Korea"]) #Korea키 값을 넣어서 프린트하면 값을 가져옴

{'Korea': 'Seoul', 'USA': 'Washinton', 'UK': 'London'}
Seoul

In [40]:
#딕셔너리 항목 추가하기

capitals={}
capitals["Korea"]="Seoul"
capitals["USA"]="Washington"
capitals["UK"]="London"
capitals["France"]="Paris"

print(capitals)

{'Korea': 'Seoul', 'USA': 'Washington', 'UK': 'London', 'France': 'Paris'}

In [42]:
#딕셔너리 항목 삭제하기

capitals={"Korea":"Seoul", "USA":"Washinton", "UK":"London"}

#바로 .pop으로 삭제해도 되지만 if문으로 있으면 삭제하기
if "UK" in capitals:
  capitals.pop("UK") #key를 넣으면 됨

print(capitals)

{'Korea': 'Seoul', 'USA': 'Washinton'}

In [44]:
capitals = {"Korea":"Seoul"}
c = capitals.pop("Korea")
print(c)
print(capitals)

Seoul
{}

In [48]:
capitals={"Korea":"Seoul", "USA":"Washinton", "UK":"London"}

print(capitals.items())
print(capitals.keys())
print(capitals.values())

print(list(capitals.items())[0])

dict_items([('Korea', 'Seoul'), ('USA', 'Washinton'), ('UK', 'London')])
dict_keys(['Korea', 'USA', 'UK'])
dict_values(['Seoul', 'Washinton', 'London'])
('Korea', 'Seoul')

In [52]:
capitals={"Korea":"Seoul", "USA":"Washinton", "UK":"London"}

for key in capitals.items():
  print(key)

print("-------------------")

#언패킹
for k, v in capitals.items():
  print(k, v)

('Korea', 'Seoul')
('USA', 'Washinton')
('UK', 'London')
-------------------
Korea Seoul
USA Washinton
UK London

In [54]:
for key in sorted(capitals.keys()):
  print(key,end=" ")

Korea UK USA

In [ ]:
#딕셔너리 함축

values=[1,2,3,4,5,6]

dic={x:x**2 for x in values if x%2==0}
print(dic)

In [57]:
#key 값으로 in을 쓸 수 있지만
#value 값으로는 in을 쓸 수 없음
capitals={"Korea":"Seoul", "USA":"Washinton", "UK":"London"}

print("Korea" in capitals)
"Seoul" in capitals

True

False

In [59]:
#회문 검사기

s = input("문자열을 입력하시오:")

s1 = s[::-1]

if(s==s1):
  print("회문입니다.")
else:
  print("회문이 아닙니다.")

문자열을 입력하시오:AAA
회문입니다.

In [ ]:
#문자분류

print("ABCabc".isalpha())

print("123".isdigit())

"abc".islower()

In [ ]:
#공백제거 strip()
#문자열 분해하기 split(), list("")->문자가 있으면 하나씩 다 리스트함

In [61]:
class Avante: #아반떼 설계도, 차 속성은 가격만 설정
  def __init__(self, price):
    self.price = price

myAvante = Avante(2500)

<__main__.Avante object at 0x7f759684c940>

In [72]:
class Avante: #아반떼 설계도, 차 속성은 가격만 설정
  def __init__(self, price, color): #initialization 함수, 특수 메소드
    print("객체 생성")
    print(price)
    print(color)

myAvante = Avante(2500, "red")

객체 생성
2500
red

In [78]:
class Sonata: #소나타 설계도, 차 속성은 가격만 설정
  def __init__(self, price, color): #initialization 함수, 특수 메소드
    self.price = price #인스턴스 속성
    self.color = color

  def driving(self):
    print("주행을 시작합니다.")

pkjSonata = Sonata(2000, "black")

print(pkjSonata.price)
print(pkjSonata.color)

pkjSonata.driving() #이거랑 똑같은거 Sonata.driving(pkjSonata)

2000
black
주행을 시작합니다.

In [84]:
class Counter:
  def __init__(self):
    self.count = 0

  def increment(self):
    self.count+=1

a = Counter()

print(a.count)

a.increment()

print(a.count)

0
1

In [88]:
class Counter:
  def __init__(self):
    self.count = 0
  def increment(self, num):
    self.count += num

a = Counter()
a.increment(4)
a.increment(8)
print("카운터의 값=", a.count)

카운터의 값= 12
<__main__.Counter object at 0x7f759684cd00>

In [89]:
#원 클래스 정의

import math

class Circle:
  def __init__(self,radius = 0):
    self.radius = radius
    
  def getArea(self):
    return math.pi * self.radius * self.radius

  def getPerimeter(self):
    return 2 * math.pi * self.radius

c= Circle(10)
print("원의 면적:", c.getArea())
print("원의 둘레:", c.getPerimeter())

원의 면적: 314.1592653589793
원의 둘레: 62.83185307179586

In [106]:
#자동차 클래스 정의
#정보은닉: 언더바(_)가 붙은 인스턴스 변수는 class내부에서만 접근

class Car:
  def __init__(self, speed, color, model):
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed
    self.color = color
    self.model = model

myCar = Car(30, "blue", "avante")
print("자동차의 속도는", myCar.__speed)
print("자동차의 색상은", myCar.color)
print("자동차의 모델은", myCar.model)

자동차 객체를 생성하였습니다.

AttributeError: ignored

In [109]:
#setter, getter
class Car:
  def __init__(self, speed, color, model):
    print("자동차 객체를 생성하였습니다.")
    self.__speed = speed
    self.color = color
    self.model = model

  def getSpeed(self):
    return self.__speed

  def setSpeed(self, speed):
    self.__speed = speed

myCar = Car(0, "blue", "avante")
print(myCar.getSpeed())

myCar.setSpeed(20)
print(myCar.getSpeed())

자동차 객체를 생성하였습니다.
0
20

In [110]:
#은행 계좌

class BankAccount:
  def __init__(self):
    self.__balance = 0

  def withdraw(self, amount):
    self.__balance -= amount
    print("통장에서", amount,"가 출금되었습니다.")
    return self.__balance
  
  def deposit(self, amount):
    self.__balance += amount
    print("통장에", amount,"가 입금되었습니다.")
    return self.__balance

a= BankAccount()
a.deposit(100)
a.withdraw(10)

통장에 100 가 입금되었습니다.
통장에서 10 가 출금되었습니다.

90

In [115]:
class Counter:
  value=0

  def __init__(self):
    Counter.value += 1
    self.count = Counter.value
    print(self.count)

a = Counter()
b = Counter()
c = Counter()

1
2
3

False

In [120]:
class Counter:
  def __init__(self, value):
    self.count = value

  def __eq__(self, other):
    print("eq메소드 실행!")
    return self.count == other.count

a= Counter(10)
b= Counter(10)

print("======================")
print(a==b)

In [129]:
#벡터 개체에 특수 메소드 정의

class Vector2D:
  def __init__(self, x, y):
    self.x = x
    self.y = y

  def __add__(self, other):
    return Vector2D(self.x + other.x, self.y + other.y)

  def __sub__(self, other):
    return Vector2D(self.x - other.x, self.y - other.y)

  def __str__(self):
    return f'({self.x},{self.y})'

u = Vector2D(0,1)
v = Vector2D(1,0)

a = u + v
print(a)

(1,1)

In [134]:
#상속

class Car: #부모
  def __init__(self, Car_price, color, km):
    self.Car_price = Car_price #3000
    self.color = color #red
    self.km = km #13km

class Avante(Car): #자식
  def __init__(self, Car_price, color, km, year):
    super().__init__(Car_price, color, km) #super().는 부모를 의미함 ->부모클래스의 __init__
    self.year = year

myAvante = Avante(3000, "red", "13km", "2023")

myAvante.Car_price

3000