01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [2]:
def print_new():
  print("뉴딜")

02

01번에서 정의한 함수를 호출하라.

In [3]:
def print_new():
  print("뉴딜")

print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [32]:
#함수 정의
def print_new():
  print("뉴딜")

#반복문 range에 100넣고 print_new()함수 호출
for i in range(100):
  print_new()

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [7]:
def new_prints(msg, count):
  for i in range(count):
    print(msg)

new_prints("뉴딜", 100)

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [33]:
#순서가 잘 못 되었음. 아래처럼 바꿔줘야함

def hello():
    print("Hi")

hello()

Hi

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [10]:
#message() 함수 호출 -> A B 찍고
#print("C") -> C 찍고
#message() 함수 한번 더 호출 -> A B 찍힘
A
B
C
A
B

A
B
C
A
B

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [11]:
A
C
B

A
C
B

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [ ]:
ACBED

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [ ]:
#message2()함수 호출 -> B찍히고
#message1()함수 호출 -> A찍힘

B
A

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [13]:
B
C
B
C
B
C
A

B
C
B
C
B
C
A

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [14]:
안녕
Hi

안녕
Hi

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [ ]:
#함수()에3,4 넣어서 메소드 호출 -> 3+4 = 7 출력
#함수()에7,8 넣어서 메소드 호출 -> 7+8 = 15 출력
7
15

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [ ]:
값을 안 넣어줘서 에러가 뜸

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [ ]:
int타입 자리에 str타입이 있음

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [4]:
def print_with_smile(msg):
  print(msg,":D") #msg와 :D 출력

#input으로 문자를 받아서 print_with_smile()함수에 문자넣고 호출
print_with_smile(input("문자를 입력하세요:"))

문자를 입력하세요:hi
hi :D

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [49]:
def print_with_smile(msg):
  print(msg,":D")

print_with_smile("안녕하세요")

안녕하세요 :D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [22]:
def print_upper_price(a):
  print(a*1.3)

print_upper_price(100000)

130000.0

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [23]:
def print_sum(a, b): 
  print(a+b) #값을 받아서 덧셈해서 출력

print_sum(5, 6) #5, 6 을 넣어서 print_sum 함수 호출

11

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [24]:
def print_arithmetic_operation(a, b):
  print("합:", a+b)
  print("차:", a-b)
  print("곱:", a*b)
  print("나눗셈:", a/b)

print_arithmetic_operation(234, 23)

합: 257
차: 211
곱: 5382
나눗셈: 10.173913043478262

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [25]:
def print_max(a, b, c):
  if(a>b and a>c):
    print(a)
  elif(b>a and b>c):
    print(b)
  else:
    print(c)

print_max(23, 34, 88)

88

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [31]:
def print_reverse(a):
  print(a[::-1]) #슬라이싱을 하는데 스텝에 -1을 넣어서 출력하면 거꾸로 나옴

print_reverse("python")

nohtyp

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [93]:
def print_score(slist):
  sum=0
  for i in range(len(slist)):
    sum += slist[i]  
  print(sum/len(slist))

print_score([1,2,3])

2.0

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [94]:
def print_even(a):
  for i in range(len(a)):
    if(a[i] % 2 == 0):
      print(a[i])

print_even ([1, 3, 2, 10, 12, 11, 15])

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

In [96]:
def print_keys(a):
  for i in a.keys(): #리스트의 키 값만 반복문으로 출력
    print(i)

print_keys ({"이름":"김말똥", "나이":30, "성별":0}) #print_keys()함수에 딕셔너리 넣고 함수 호출

이름
나이
성별

25

입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

```
print_5xn("아이엠어보이유알어걸")
```
```
아이엠어보
이유알어걸
```

In [110]:
def print_5xn(string):
  line = int(len(string)/5)
  for i in range(line):
    print(string[i*5:i*5+5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어걸

26

문자열과 한줄에 출력될 글자 수를 입력을 받아 한 줄에 입력된 글자 수만큼 출력하는 print_mxn(string) 함수를 작성하라.

```
printmxn("아이엠어보이유알어걸", 3)
```
```
아이엠
어보이
유알어
걸
```

In [109]:
def printmxn(msg, count):
  line = int(len(msg)/count)
  for i in range(line+1):
    print(msg[i*3:i*3+3])

printmxn("아이엠어보이유알어걸", 3)

아이엠
어보이
유알어
걸

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [5]:
def calc_monthly_salary(salary):
  result = salary/12 #받아온 값을 12로 나눈후
  print(int(result)) #int 타입으로 변환 해주면 소수점은 잘림

calc_monthly_salary(12000000) #calc_monthly_salary()함수에 값 넣고 함수호출

1000000

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [115]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [114]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [ ]:
#지역변수로 되어있어서 밖에서 호출할 수가 없음

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [116]:
def make_url(url):
  print("www."+url+".com")

make_url("naver")

www.naver.com

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [127]:
def make_list(a):
  print(list(a))

make_list("abcd")

['a', 'b', 'c', 'd']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [137]:
a = list() #결과를 담을 리스트를 만들어주고
def pickup_even(s):
  for i in s: #s개수 만큼 반복
    if i%2 ==0: #짝수라면
      a.append(i) #a리스트에 append
  print(a) #a리스트 출력

pickup_even([3, 4, 5, 6, 7, 8]) #리스트에 담아서 함수 호출

[4, 6, 8]

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [146]:
def convert_int(a):
  print(int(a.replace(',', '')))

convert_int("1,234,567")

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [ ]:
22

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [ ]:
#함수(10) 실행 -> 14
#함수(14) 실행 -> 18
#함수(18) 실행 -> 22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [ ]:
140

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [ ]:
16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [6]:
def 함수0(num) : #세번째 실행
    return num * 2 # 14*2 = 28 리턴

def 함수1(num) : #두번째 실행 
    return 함수0(num + 2) #함수0(14)리턴

def 함수2(num) :
    num = num + 10 # num = 2+10
    return 함수1(num) #함수1(12) 리턴

c = 함수2(2) ##첫번째 실행
print(c) #마지막으로 출력

28